body{
   font-family: 'Kavoon', cursive;
   background-color: floralwhite; 
}
p{
    align-items: center;
    justify-content: center;
    margin: 10%;
    padding: 5%;
}
.card-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10%;
    padding: 5%;
}
.container-fluid {
    color: aliceblue;
}
